body{
overflow: hidden;
background-image: url('../imgs/Background-Web.png');
background-repeat: no-repeat;
background-size: cover;
height: 100.1vh;                
}                
header{
text-align: center;
color: #CDFDFC; 
margin-bottom: 10px;
}
#Usuario{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 50px;
}
#ModalUser{
    border: 5px solid white;
    border-radius: 7px;
    padding: 5px 9px 9px 9px;
}
#Usuario.hidden{
    display: none;
}
#Servidor{
    width: 30px;
    margin-left: 60%;
    white-space: nowrap;
}

#cont{
width: 70vw;
}            
#messages{
height: 80vh;
border: 5px solid;
opacity: .9;
overflow-y: scroll;
display: flex;
flex-direction: column-reverse;
}
@media (pointer: fine) {
    /* O 'pointer' verifica qual meio de navegação principal o aparelho esta usando. O 'fine' é referente ao mouser, e o 'coarse' é referente a uma tela touch. Mesmo para notebooks com tela touch, o sistema aponta para o mouse como meio principal de navegação. */
    ::-webkit-scrollbar {
        width: 9px;
        background: rgba(255, 255, 255);
    }
    ::-webkit-scrollbar-thumb {
        background: #6e6e6e;
        border-radius: 4px;
    }   
}
#enviar{
width: 100%;
}

#icoMenu{
position: absolute;
top: 105px;
left: 20px;
width: 40px;
background: none;
border: none;
margin: 0px;
padding: 0px;
}
.imgMenu{
width: 100%;
}
#MMenu{
display: none;
position: absolute;
top: 0px;
left: 0px;
background-color: rgba(0, 0, 0, 0.5);
width: 100vw;
height: 100vh;
z-index: 1000;
}
#abamenu{
background-image: url('../imgs/Background-Menu.png');
background-repeat: no-repeat;
background-size: cover;
width: 300px;
height: 100vh;
color: white;
box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.8);
padding-left: 50px;
padding-top: 20px;
}
#Close{
position: absolute;
top: 15px;
left: 270px;
background: none;
border: none;
margin: 0px;
padding: 0px;
width: 35px;
opacity: .9;
}
.redim{
width: 100%;
}
#MMenu.Open{
display: block;
}

@keyframes menu{
from{
    transform: translate3d(-300px, 0, 0);                    
}
to{
    transform: translate3d(0, 0, 0);
}
}
.Open #abamenu{
animation: menu .5s;
}
@media(max-width: 700px){
#cont{
    width: 80%;
}
#Servidor{
    margin-left: 55%;
}
#icoMenu{ 
top: 15px;
left: 15px;
width: 40px;
}
}
@media(max-width: 500px){  
#cont{
    width: 90vw;
}
#Usuario{
    padding: 5px;
}
#Servidor{
    margin-left: 45%;
}
}
@media(max-height: 700px){
#messages{
    height: 75vh;
}
}
@media(max-height: 550px){
header{
    margin-bottom: -15px;
}
#messages{
    height: 67vh;
}
}
