.App{
  width: 80vw;
  max-width: 910px;
  margin: auto;
  padding-top: 80px;
}

.Menu{
  position: absolute;
  background-color: rgb(16, 48, 37);
  width: 100vw;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
}
.Menu h3{
  margin-left: 15px;
}
.NavMenu{
  display: flex;
  justify-content: space-between;
}
.NavMenu li{
  margin-right: 15px;
  list-style: none;
  font-size: 1.1rem;
  font-weight: bold;
}
.btnAssistir{
  background-color: gray;
  width: 90px;
  height: 40px;
  border-radius: 10px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow .2s;
}
.btnAssistir:hover, .btnLogin:hover{
  box-shadow: 0 0 10px gray;
}
.btnLogin{
  width: 60px;
  height: 25px;
  font-size: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
}