#ToDo{
	width: 420px;
}
#ToDo header{
	position: relative;
	padding-top: 30px;
	padding-bottom: 10px;
	display: flex;
	justify-content: space-between;
}
#ToDo header img{
	width: 112%;
	position: absolute;
	left: -6%;
	top: -50px;
	z-index: -1;
}
#Day{
	padding-top: 10px;
}
#taskTable {
	text-align: justify;
	position: relative;
	padding-top: 10px;
	width: 100%;
	word-break: break-all;
}
#taskTable td{
	padding-top: 5px;
}
#taskTable .content{
	border-bottom: 2px solid #21212188;
	padding: 2px;
	font-family: 'Fredoka One', cursive;
}
#taskTable tr{
	position: relative;
}
.editImg{
	text-align: end;
}
.editImg img{
	width: 30px;
}
.empty{
	color: #322a1379;
}
.workingTd{
	width: 30px;
}
.workingTd img{
	width: 30px;
}
.check, .working{
	width: 30px;
	padding-right: 5px;
}
#taskTable input{
	font-family: 'Fredoka One', cursive;
	font-size: 16px;
}
.inputTx{
	border: none;
	outline: none;
	width: 100%;
}
