:root{
	--border-color: #21212133;
	--bg-calendar: #46410a1a;
	--bg-hover: #43aaef;
	--text-color-hover: white;
	--border-days-week: #ff0000b3;
}

.container{
	width: 90vw;
	margin: auto;
	margin-top: 20px;
	max-width: 900px;
	display: flex;
	justify-content: space-around;
}

#toDoList{
	width: 420px;
	min-width: 420px;
}