:root{
	--bg-pageColor: rgb(36, 41, 49);
	--primary-color: rgb(137, 170, 164);
	--secondary-color: #ffd900;
	--text-color: #fcf6dd;
	--text-color-opacity: #fcf6dd60;
	--border-days-week: #ff0000b3;
	--bg-input: rgba(137, 170, 164, 0.226);

	--font-title: 'Lobster', cursive;
	--font-text: 'Varela Round', sans-serif;
}
body{
	background-color: var(--bg-pageColor);
	background-size: cover;
}
.container{
	width: 95vw;
	margin: auto;
	margin-top: 20px;
	max-width: 900px;
	display: flex;
	justify-content: space-around;
	color: var(--text-color);
}
header h1,h2,h3{
	font-family: var(--font-title);
}