:root{
	--border-color: #21212133;
	--bg-calendar: #e8e8e3;
	--bg-hover: #43aaef;
	--text-color-white: white;
	--text-color-tasks: #fcf6dd;
	--border-days-week: #ff0000b3;
	--bg-input: #43aaef40;
	--font-title: 'Lobster', cursive;
	--font-text: 'Varela Round', sans-serif;
}
body{
	background-color: #24292c;
	background-size: cover;
}
.container{
	width: 95vw;
	margin: auto;
	margin-top: 20px;
	max-width: 900px;
	display: flex;
	justify-content: space-around;
}
header h1,h2,h3{
	font-family: var(--font-title);
}