<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Redirect</title>
    </head>
    <body>
        <form action="/" method="POST">
            <input class="field" name="title" placeholder="Title" required value="<%= body.title %>" />
            <input class="field" name="description" placeholder="Description" value="<%= body.description %>"/>
            <input class="field" name="url" placeholder="URL" required value="<%= body.url %>"/>
            <button>Salvar</button>
        </form>

        <% if(error){ %>
            <!-- Como mais de uma rota renderizam esta pagina, então precisamos garantir que todas enviem a variavel 'error', mas na rota 'get' no arquivo 'linkRouter' não há erros para serem enviados, então passamos o 'error:false' como segundo parametro, desta forma este 'if' não sera executado. -->
        <h3><%= error.message %></h3>
        <% } %>
    </body>
</html>
