body{
    background-color: gray;
    font-size: 17pt;
    color: white;
    
}
.botao{
    text-align: center;
    border: 5px solid white;
    border-radius: 15px;
    padding: 20px;
    margin-top: 10px;
    width: 100px;
    transition: all 0.4s;
}
.botao:hover{
    background-color: white;
    color: gray;
}