.navGame{
	background-color: var(--background-color0);
	padding: 10px 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.navGame h3{
	border: 3px solid var(--color-base1);
	padding: 5px;
	border-radius: 10px;
}