@media (max-width: 820px){
	#toDoList{
		margin: auto;
		width: 80%;
		height: 94%;
		min-width: unset;
		outline: 2px solid var(--text-color-tasks);
		outline-offset: 4px;
	}
	.check{
		padding-right: 5px;
	}
	.edit{
		padding-left: 5px;
	}
	#menuBtn{
		display: block;
	}
}
@media (max-width: 450px){
	#toDoList{
		width: 95%;
	}
	#Form input{
		width: 70%;
	}
	#Form button{
		width: 25%;
	}
}
@media (max-width: 305px){
	#toDoList{
		width: 100%;
	}
	#Form input{
		width: 60%;
	}
	#Form button{
		width: 30%;
	}
}