#toDoList{
	width: 480px;
	min-width: 480px;
	height: 600px;
	padding-bottom: 5px;
	position: relative;
	overflow-y: scroll;
	border: 2px solid var(--primary-color);
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
}
#toDoList header{
	padding-top: 10px;
}
#divTop{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 20px;
}
#menuBtn{
	width: 35px;
	display: none;
	border: 2px solid var(--primary-color);
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	text-align: center;
	padding: 1px;
	padding-top: 5px;
	cursor: pointer;
	transition: outline 0.1s;
}
#menuBtn img{
	width: 70%;
}
#menuBtn:hover{
	outline: 2px solid var(--secondary-color);
	outline-offset: -6px;
}
#divInput{
	width: 95%;
	margin: auto;
	background-color: rgba(0, 255, 255, 0.315);
}
#divInput input, button{
	padding: 5px;
	font-size: 16px;
	color: var(--text-color);
}
#divInput input::placeholder{
	color: var(--text-color);
}
#divInput input{
	width: 75%;
	border: none;
	border-bottom: 3px solid black;
	border-top: 3px solid black;
	border-left: 3px solid black;
	border-end-start-radius: 5px;
	border-start-start-radius: 5px;
	background-color: unset;
}
#divInput button{
	font-family: var(--font-title);
	font-size: 17px;
	width: 20%;
	padding-top: 2px;
	border: none;
	background-color: white;
	border-bottom: 3px solid green;
	border-top: 3px solid green;
	border-right: 3px solid green;
	border-end-end-radius: 5px;
	border-start-end-radius: 5px;
	cursor: pointer;
	background-color: unset;
}
#divInput button img{
	width: 15px;
	margin-left: 5px;
}
.check img{
	width: 35px;
}
.edit img{
	width: 35px;
}
#tasks{
	width: 95%;
	margin: auto;
	margin-top: 20px;
}
#tasks td{
	padding-top: 7px;
}
#tasks tr{
	position: relative;
}
.check,.edit{
	text-align: center;
}
.content{
	border-bottom: 2px solid var(--primary-color);
	width: 80%;
	word-break: break-all;
}
.editInput{
	background-color: var(--bg-input);
	border: none;
	font-size: 16px;
	width: 100%;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 2px;
	border-radius: 5px;
}
header h3{
	text-decoration: underline;
}
@media (pointer: fine) {
	#toDoList::-webkit-scrollbar {
			width: 5px;
			background: unset;
		}
		#toDoList::-webkit-scrollbar-thumb {
			background: var(--text-color-tasks);
			border-radius: 4px;
		}   
		#toDoList::-webkit-scrollbar-track {
			background-color: #ffffff30;
			border-radius: 4px;
			margin-top: 10px;
			margin-bottom: 10px;
	}   
}