.deckOfCards{
	position: relative;
	display: grid;
	grid-template: repeat(6, auto) / repeat(5, auto);
	justify-content: center;
	gap: 7px;
}
.modalStartGame{
	position: absolute;
	background-color: var(--background-color2);
	width: 50%;
	height: 100px;
	top: calc(50% - 50px);
	left: calc(50% - 25%);
	display: flex;
	justify-content: center;
	align-items: center;
	outline: 3px solid var(--color-base1);
	outline-offset: -10px;
	box-shadow: 0px 0px 20px black;
	border-radius: 10px;
	z-index: 10;
}
.modalStartGame button{
	background-color: var(--color-base1);
	color: var(--text-color1);
	font-weight: 700;
	text-transform: uppercase;
	width: 80%;
	height: 40px;
	border: unset;
	border-radius: 2px;
	transition: all .2s;
}
.modalStartGame button:hover{
	box-shadow: 0 0 8px var(--color-base1);
	transform: scaleX(1.05);
}
.Card{
	position: relative;
	width: 16vw;
	height: 16vw;
	max-width: 100px;
	max-height: 100px;
	box-shadow: 1px 1px 10px black;
	border-radius: 10px;
	
	transform-style: preserve-3d;
	transition: transform 0.5s;
}
.backCard, .frontCard{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}
.frontCard{
	background-color: #909090;
	transform: rotateY(180deg);
	width: 100%;
}
.backCard{
	background-image: url("img/backgroundCard.png");
	background-size: cover;
	outline: 5px solid black;
	outline-offset: -5px;
	position: relative;
}
.backCard::after{
	content: "";
	position: absolute;
	top: 32%;
	width: 45%;
	height: 40%;
	transform: rotate(-10deg);
	animation-name: backgroundMove;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.flip{
	transform: rotateY(180deg);
}
img{
	width: 70%;
	z-index: 2;
}
@keyframes backgroundMove {
	0%{
		background-color: rgb(255, 210, 30);
	}

	100%{
		background-color: rgb(230, 95, 217);
	}
}
