
#Table {
	background-color: var(--bg-calendar);
	border-radius: 15px;
	padding: 10px;
	width: 260px;
	height: 360px;
	min-width: 260px;
}
#month {
	text-transform: uppercase;
	margin: 0px 7px 0px 7px;
}
#Header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	margin-bottom: 20px;
}
.btn-next,
.btn-prev {
	border: 1px solid var(--border-color);
	border-radius: 50%;
	font-size: larger;
	background-color: unset;
	width: 45px;
	height: 45px;
	font-family: "Fredoka One", cursive;
}
.btn-next:hover,
.btn-prev:hover {
	background-color: var(--bg-hover);
	color: var(--text-color-hover);
}
#Table table {
	border-collapse: collapse;
}
#Table td {
	border: 1px solid var(--border-color);
	text-align: center;
	height: 35px;
	width: 40px;
	font-family: "Fredoka One", cursive;
}
#daysOfWeek td {
	border-bottom: 2px solid var(--border-days-week);
}
#days td:hover {
	outline: 2px solid var(--bg-hover);
}
.prevMonth,
.nextMonth {
	color: var(--border-color);
}
#currentDay {
	background-color: var(--bg-hover);
	color: var(--text-color-hover);
}
#currentDay:hover {
	background-color: rgb(108, 191, 250);
}
.task {
	position: relative;
}
.task::after {
	content: "";
	width: 6px;
	height: 6px;
	left: 15px;
	bottom: -4px;
	margin: 5px 0px;
	background-color: var(--bg-hover);
	display: block;
	position: absolute;
	border-radius: 50%;
}
.task#currentDay::after {
	background-color: var(--text-color-hover);
}
