*{
    padding: 0px;
    margin: 0px;
}
body{
    font-size: 1.2rem;
    background-color: rgb(226, 226, 226);
    font-family: cursive;
    font-weight: 500;
}
header{
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}
#todolist{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}
.Container{
    width: 98vw;
    display: flex;
    justify-content: space-between;
}
table{
    height: 0;
    margin: 30px
}
td{
    border: 2px solid #2d2d2d;
    box-shadow: 1px 1px 3px rgba(123, 123, 123, 0.2);
    border-radius: 50%;
    text-align: center;
    padding: 15px;
    
}