*{
    padding: 0px;
    margin: 0px;
    font-family: 'Fredoka One', cursive;
}
.container{
    width: 90vw;
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto;
}
.Table{
    background-color: rgba(71, 64, 11, 0.1);
    border-radius: 15px;
    padding: 10px;
    margin-right: 50px;
    width: 320px;
    height: 450px;
}
h2{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin: 0px 7px 0px 7px;
}
.Header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
}
.btn-next, .btn-prev{
    border: 1px solid #21212133;
    border-radius: 50%;
    font-size: larger;
    background-color: unset;
    width: 45px;
    height: 45px;
}
.btn-next:hover, .btn-prev:hover{
    background-color: #43aaef;
    color: white;
}

table{
    border-collapse: collapse;
}
thead td{
    border-bottom: 3px solid rgb(255, 0, 0, 0.7);
}
td{
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 45px;
    width: 45px;
}
tbody td:hover{
    outline: 2px solid #43aaef;

}
.prev-month, .next-month{
    color: #21212133;
}
.current-day{
    background-color: #43aaef;
    color: white;
}
.current-day:hover{
    background-color: rgb(108, 191, 250);
}
.task{
    position: relative;
}
.task::after{
    content: '';
    width: 6px;
    height: 6px;
    left: 19.5px;
    bottom: -1px;
    margin: 5px 0px;
    background-color: #43aaef;
    display: block;
    position: absolute;
    border-radius: 50%;
}
.task.current-day::after{
    background-color: white;
}